@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #222222;
  --color-primary-dark: #1d1d1d;

  --color-highlight: #62a8ff;
  --color-highlight-dark: #3183ea;

  --color-neutral: #f2f2f2;
  --color-neutral-blue: #d7e3f2;

  --color-green: #00b400;

  --mesh-white: hsla(300,0%,95%,1);
  --mesh-dark: hsla(213,100%,69%,0.3);
  --mesh-neutral: hsla(213,81%,55%,0.5);
}

[data-theme='dracula'] {
  --color-primary: #f8f8f2;
  --color-primary-dark: #20222b;

  --color-highlight: #bd93f9;
  --color-highlight-dark: #50fa7b;

  --color-neutral: #282a36;
  --color-neutral-blue: #6272a4;

  --color-green: #50fa7b;

  --mesh-white: hsla(261,18%,11%,0.3);
  --mesh-dark: hsla(261,18%,11%,0.3);
  --mesh-neutral: hsla(261,18%,11%,0.3);
}

body {
  background-color: var(--color-neutral);
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--color-primary-dark);
}

*::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--color-highlight);
}